<!DOCTYPE html>
<html>
<head>
    <title>Сообщение от сервера</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Download/Home</a></li>
            <li><a href="/whoami">Register/Login</a></li>
            <li><a href="/get">Get all your files</a></li>
            <li><a href="/profile">Your profile</a></li>
        </ul>
    </div>
    <h2><%= message %></h2>
</body>
</html>
